Flask==2.1.0
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Werkzeug==2.1.0
SpeechRecognition==3.8.1
nltk==3.6.7



# pip install Flask==2.1.0
# pip install Flask-SQLAlchemy==2.5.1
# pip install Flask-Login==0.5.0
# pip install Flask-Migrate==3.1.0
# pip install Werkzeug==2.1.0
# pip install SpeechRecognition==3.8.1
# pip install nltk==3.6.7